<app-custom-header [title]="title" [backUrl]="backUrl"></app-custom-header>

<ion-content>
    <ion-grid class="custom-form">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                    <ion-label position="stacked"><ion-text color="danger">*</ion-text>旧パスワード:</ion-label>
                    <ion-input required minlength="7" type="password" name="old-password" ngModel></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked"><ion-text color="danger">*</ion-text>新パスワード:</ion-label>
                    <ion-input required minlength="7" type="password" name="new-password" ngModel></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked"><ion-text color="danger">*</ion-text>確認用パスワード:</ion-label>
                    <ion-input required minlength="7" type="password" name="confirm-password" ngModel></ion-input>
                </ion-item>
            </ion-list>

            <ion-row class="no-bottom">
                <ion-col size="12">
                    <div class="custom-form__box">
                        <ion-button type="submit" color="success" expand [disabled]="form.invalid">送信</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
