// Colors
:root {
    --black: #434343;
    --primary: #59ca88;
    --primary-dark: #245137;
    --grey-light: #dddddd;
    --grey-medium: #a7a7a7;
    --grey: #707070;
    --content: #fbfbfb;
    --row-bottom-margin: 7px;
    --grid-padding: 5px 0px;
    --row-side-padding: 12px;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
