@import 'src/global.scss';

// ion-tabs {
//     padding-top: 76px;
// }

// ion-toolbar {
//     height: 76px;
// }

.footer {
    background: white;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.09);
}
.content {
    margin-top: 50px;
}
