.schedule {
    z-index: 200;
    ion-toolbar {
        color: var(--primary);
    }

    ion-grid {
        padding-top: 2.5rem;
        position: relative;
    }

    &__datepicker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 20px;
        color: var(--grey);
        position: relative;
        ion-icon {
            font-size: 2.5rem !important;
            &.arrow-next {
                right: 0px;
            }

            &.arrow-prev {
                left: 15px;
            }
        }
    }

    ion-slides.schedule__day-slides {
        ion-slide {
            width: 15% !important;
            color: var(--black);
            &.active {
                background: var(--primary);
                color: white;
            }
        }
    }

    &__arrow {
        position: absolute;
        display: block;
    }
    &__week {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
    }

    &__detail {
        text-align: center;
        font-weight: 500;
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
    }

    &__day {
        font-size: 13px;
        // margin: 0;
    }

    &__date {
        font-size: 1.6rem;
        // margin-bottom: 5px;
    }

    // &__subject {
    //     padding: 0 20px;
    //     position: relative;
    //     &:not(:first-child) {
    //         margin-top: -10px;
    //     }
    // }

    // &__time-col {
    //     flex-grow: 0.35;
    //     padding-top: 0;
    //     color: var(--grey-medium);
    //     margin-top: -5px;
    // }

    // &__icon-col {
    //     flex-grow: 0;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 0 10px;
    // }

    // &__subject-col {
    //     color: var(--grey-medium);
    //     flex-grow: 1;
    //     align-self: center;
    //     display: flex;
    //     flex-direction: column;
    //     p {
    //         margin: 0;
    //     }
    // }

    // &__subject-info {
    //     margin: 15px 0;
    //     display: flex;
    //     align-items: center;
    // }

    // &__subject.active {
    //     z-index: 10;
    //     .schedule__circle-icon {
    //         background: var(--primary);
    //     }

    //     .schedule__subject-time {
    //         color: var(--primary);
    //     }

    //     .schedule__subject-col {
    //         color: var(--black);
    //     }

    //     .schedule__subject-name {
    //         color: var(--primary)-dark;
    //     }

    //     .schedule__line-icon {
    //         background: var(--primary);
    //     }

    //     .schedule__subject-bar {
    //         display: flex;
    //         margin-top: -12px;
    //         align-items: center;
    //     }
    // }

    // &__subject-time {
    //     font-weight: 500;
    //     font-size: 1.5rem;
    //     margin-top: -5px;
    // }

    // &__line-icon {
    //     background: #e0e0e0;
    //     width: 3px;
    //     flex-grow: 1;
    // }

    // &__subject-img {
    //     width: 50px;
    //     height: 50px;
    //     display: block;
    //     object-fit: contain;
    //     margin-right: 15px;
    // }

    // &__subject-name {
    //     margin-bottom: 4px !important;
    //     font-weight: 500;
    //     font-weight: 1.6rem;
    // }
    // &__subject-info {
    //     font-weight: 400;
    //     font-size: 1.3rem;
    //     color: var(--grey);
    // }

    // &__subject-bar {
    //     display: none;
    // }

    // &__subject-barline {
    //     flex-grow: 1;
    //     background: var(--primary);
    //     height: 1px;
    // }

    // &__subject-bartext {
    //     background: var(--primary);
    //     padding: 2px 17px;
    //     border-radius: 10px;
    //     color: white;
    // }

    &__box {
        padding: 0 3.5rem;
    }

    &__label-box {
        display: flex;
        align-items: center;
    }

    &__label {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 15px;
        color: var(--primary);
    }
    &__line {
        padding: 0;
        border-left: 1px solid var(--grey);
    }

    &__circle-icon {
        background: var(--primary);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-left: -5px;
    }

    &__img {
        width: 20px;
        margin-right: 10px;
        flex-shrink: 0;
    }

    &__item {
        display: flex;
        margin: 7px 0 10px 15px;
        align-items: flex-start;
        p {
            margin: 0;
        }
    }
}
