@import "src/global.scss";
.survey-question {
    &__progress-text {
        font-weight: 500;
        margin-bottom: 0;
    }

    &__question {
        font-weight: 500;
        font-size: 1.6rem;
    }

    ion-label,
    ion-textarea {
        font-size: 1.4rem;
    }
}
